
body {
    margin: 0;
    padding: 0;
    font-family: 'Neucha', cursive;
    background-image: url(../img/он.jpg);
    }

.maintitle {
    font-size: 60px;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 3%;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
}
.first_info {
    display: flex;
    width: 100%;
    justify-content: center;
}
.img_1 {
    width: 300px;
    height: 100%;
}
.first_2 {
    background: rgba(156, 193, 233, 0.727);
    width: 300px;
    text-align: center;
    align-items: center;
}
.title {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
.text {
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
}
.ss {
    text-decoration: none;
    color: rgb(94, 122, 216);
}
.first_1 {
    background: rgba(232, 196, 107, 0.686);
    width: 300px;
    text-align: center;
    }
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.second_info {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 300px;
}
.second_2 {
    background: rgba(61, 206, 110, 0.522);
    width: 300px;
    text-align: center;
    align-items: center;
}
.second_2 {
    background: rgba(61, 206, 110, 0.522);
    width: 300px;
    text-align: center;
    align-items: center;
}
li {
    text-align: left;
    font-size: 20px;
}
.dog {
    width: 100%;
    display: flex;
    margin-top: 3%;
}
.photo {
    width: 30%;
    margin-left: 5%;
    align-items: center;
}
.text_2 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    width: 70%;
    align-items: center;
    text-align: center;
}
.img2 {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.img_1 {
    width: 300px;
    height: 100%;
}
.title2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
}
.f_text {
    font-size: 25px;
    font-family: 'Lobster', cursive;
}
.footer_soc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
